body {
    background-color: #00334e;
    padding-top: 70px;
    font-family: 'Oswald', sans-serif;
}

.navbar{
    background-color: #e8e8e8;
}

.jumbotron {
    background-color: #e8e8e8;
    font-family: 'Oswald', sans-serif;
}

.deleteNote {
	display: inline-block;
}

.previousNotes {
    display: inline-block;
    width: 90%
}

#scrape {
    margin: 8px 0px;
}